.input{
display: flex;
width: 90%;
position: relative;
align-items: center;
}

.input-box{
width: 100%;
border-radius: 30px;
padding: 15px 15px ;
border: none;
font-size: 25px;
transition: 0.2s;
box-shadow: inset 0 0 5px black;
outline: none;
}

.input-box:focus{
    box-shadow: 0 0 10px 1000px #34495e;
}

.input-submit{
position: absolute;
right: 0;
border-radius: 50%;
margin: 5px;
padding: 15px 15px ;
border: none;
font-size: 20px;
background-color: #1abc9c;
box-shadow: inset 0 0 5px rgb(240, 237, 237);
color: white;
transition: 0.2s all;
}
.input-submit:hover{
    background-color: #7cf5dd;
    box-shadow: inset 0 0 5px rgb(35, 158, 18);
    
}
.input-submit:active{
    transform: scale(0.8);

}
.todos{
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    align-items: center;
}

.todos_single{
    display: flex;
    width: 90%;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #f39c12;
}
.todos_single-text{
    flex: 1;
    padding: 5px;
    font-size: 20px;
    font-weight: 200;
}
.icon-main{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.icon:hover{
    cursor: pointer;

}

@media(min-width:700px){
    .todos{
        width: 29.5%;
    }
}