.input{
display: flex;
width: 90%;
position: relative;
align-items: center;
}

.input-box{
width: 100%;
border-radius: 30px;
padding: 15px 15px ;
border: none;
font-size: 25px;
transition: 0.2s;
box-shadow: inset 0 0 5px black;
outline: none;
}

.input-box:focus{
    box-shadow: 0 0 10px 1000px #34495e;
}

.input-submit{
position: absolute;
right: 0;
border-radius: 50%;
margin: 5px;
padding: 15px 15px ;
border: none;
font-size: 20px;
background-color: #1abc9c;
box-shadow: inset 0 0 5px rgb(240, 237, 237);
color: white;
transition: 0.2s all;
}
.input-submit:hover{
    background-color: #7cf5dd;
    box-shadow: inset 0 0 5px rgb(35, 158, 18);
    
}
.input-submit:active{
    transform: scale(0.8);

}
.todos{
    display: flex;
    width: 90%;
    gap: 3%;
}

.column{
    margin-top: 10px;
    flex: 1;
    background-color: #1abc9c;
    /* min-height: 50px; */
    border-radius: 10px;
}
.column h2{
    text-align: center;
    color: white;
}

.todos_single{
    background-color: #f39c12;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    display: flex;
    cursor: pointer;
}

.todos_single:active{
    transform: scale(0.9);


}
.todos_single-text{
    flex: 1;
}
.icon-main{
    display: flex;
    gap: 10px;
}


/* 
.column{
    width: 30%;
    
    opacity: 50;
    padding: 5px;
    margin-top: 10px;
    
    border-radius: 10px;
    position: relative;
}
.column h2{
text-align: center;
}

.todos_single{
    display: flex;
    width: 80%;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 1px;
    background-color: #f39c12;
}
.todos_single-text{
    flex: 1;
    padding: 5px;
    font-size: 20px;
    font-weight: 200;
}
.icon-main{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.icon:hover{
    cursor: pointer;

} */




@media(max-width:800px){
    .todos{
        flex-direction: column;
    }
}