@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App{
  display: flex;
  align-items: center;
  background: linear-gradient(135deg,#2980b9,#2ecc71);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family: "Roboto",cursive;
}

.heading{
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: white;
  text-align: center;
  font-weight: bold;
  z-index: 1;
}

@media(max-width:800px){
  .heading{
    margin:15px 0;
    font-size: 2rem;
  }
}